/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@variants group-hover{
    .scale-0 { transform:scale(0); }
    .scale-11 { transform:scale(1.1); }
    .tracking-md{letter-spacing:0.1em;}
}